.pageEditor {

    flex: 1;
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x:hidden;
    background-color:transparent;// var(--surface);
    border-radius: var(--radius-lg);
    box-shadow: var(--box-shadow-medium);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    --border-width: 1px;
    border: var(--border-width) solid transparent;

    &Start {
        position: relative;
    }
}

.welcomeMessage {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--surface);
    position: absolute;
    inset: 0;

    &Icon {

        stroke: var(--text-primary);
    }

    &Title {

        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
        font-weight: 500;
        color: var(--text-minus-1);
    }

    &Description {

        text-align: center;
    }
}

.pageRenderer {
    // --scale-value-calculated: 0;
    // width: calc( 100vw - var(--scale-value-border-offset, 0px));
    // width: calc( 100vw - var(--scale-value-calculated) * (var(--border-width) / var(--scale-value, 0) * 2));

    &Hidden {
        opacity: 0;
        pointer-events: none;
    }
}