.textarea {
    display: flex;
    width: 100%;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-color-standard);
    background-color: var(--surface-minus-2);
    padding-inline: var(--spacing-3);
    padding-block: var(--spacing-2);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    box-shadow: var(--box-shadow-light);
    resize: vertical;
    min-height: 3.5rem;
    color: var(--text);

    &:hover {
        border-color: var(--border-color-offset-1);
    }

    &:focus-visible, &:focus-within {
        outline: 2px solid var(--border-primary);
        outline-offset: 2px;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &::placeholder {
        color: var(--text-3);
    }

    &[aria-invalid="true"] {
        background-color: var(--surface-danger-soft);
        border-color: var(--border-destructive);
        color: var(--text-destructive);

        &::placeholder {
            color: var(--text-destructive);
        }
    }

    &[aria-invalid="true"]:focus-visible, &[aria-invalid="true"]:focus-within {
        outline: 2px solid var(--border-destructive);
    }
}
