.timerBarToast {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div + .timerBar {
        margin-top: var(--spacing-4);
    }
}

.timerBar {
    margin-top: calc( var(--spacing-4) - var(--spacing-1) );
    height: 2px;
    background-color: transparent;
    border-radius: 100vw;
    overflow: hidden;
    width: 100%;
    position: relative;
    --toast-remaining-progress-bar: 0%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--toast-remaining-progress-bar);
        height: 100%;
        background-color: var(--surface-3);
    }
}