.alertDialogOverlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);

    &[data-state="open"] {
        animation: fadeIn 0.2s;
    }

    &[data-state="closed"] {
        animation: fadeOut 0.2s;
    }
}

.alertDialogContent {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    display: grid;
    width: 100%;
    transform: translate(-50%, -50%);
    gap: var(--spacing-4);
    background: var(--surface);
    padding: var(--spacing-6);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

    @media (min-width: 640px) {
        border-radius: var(--radius-lg);
        max-width: 32rem;
    }

    &[data-state="open"] {
        animation: alertDialogIn 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &[data-state="closed"] {
        animation: alertDialogOut 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    }
}

.alertDialogHeader {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    text-align: center;

    @media (min-width: 640px) {
        text-align: left;
    }
}

.alertDialogFooter {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 640px) {
        flex-direction: row;
        justify-content: flex-end;
        gap: var(--spacing-4);
    }
}

.alertDialogTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text);
}

.alertDialogDescription {
    font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
    color: var(--text-2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes alertDialogIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes alertDialogOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.95);
    }
}