.headerMenuDropdownTrigger {
    pointer-events: auto;
    flex-shrink: 0;
    background-color: var(--surface-2);
}

.headerMenuDropdownContent {
    min-width: 240px;
}

.headerMenuDropdownItemActive {
    // Juste un peu de surbrillance pour l'élément actif
    background: var(--surface-primary-soft);
    color: var(--text-primary-2);
    
    &:hover {
        background: var(--surface-primary-soft);
    }
}

.headerMenuDropdownItemCheck {
    margin-left: auto;
    font-size: 15px;
    font-weight: 700;
    color: var(--text-primary-2);
}

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

