
.dataTablePagination {
    position: relative;
    display: flex;
    // padding-top: var(--spacing-6); seulement si on est sur une pagination en dessous du tableau
    gap: var(--spacing-2);
    margin-left: auto;
}

.dataTablePreviousIcon {
    margin-right: var(--spacing-1);
}

.dataTableNextIcon {
    margin-left: var(--spacing-1);
}
