.connector {

    position: absolute;
    z-index: 2;
    max-width: unset!important;
    max-height: unset!important;
    padding: 0!important;
}

.line {

    background-color: var(--gray-500)!important;
}

.verticalLine {

    width: calc( 1px * var(--connector-thickness) );
    height: calc(
        1px * var(--y-coefficient) / 2
        + 1px * var(--x-axis-thickness) / 2    
    );
    // derniere ligne => x axis thickness
    left: calc( 50% - 1px * var(--connector-thickness) / 2 );
}

.horizontalLine {

    height: calc( 1px * var(--connector-thickness) );
    width: calc(
        1px * var(--x-coefficient) / 2
        + 1px * var(--y-axis-thickness) / 2
    );
    top: calc( 50% - 1px * var(--connector-thickness) / 2 );
}

.halfBorderedSquare {

    box-sizing: border-box;
    background-color: transparent!important;
}