:root {
  --font-standard: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-brand: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  
  font-family: var(--font-standard);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex
;
    flex-direction: column;
}

#root {
  display: flex
;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--border-primary);
  outline-offset: 2px;
}	


/* 
    Reset / Normalize.
*/
* {
  border: 0 solid transparent;
}

a {
  color: var(--text-primary);
  
  &:hover {
      color: var(--text-primary-1);
  }
}

[data-sp-web-part-id],
body>div[role*="dialog"],
body>div[data-radix-popper-content-wrapper],
body>div[data-portal],
body {

  color: var(--text);
}

[data-sp-web-part-id] *:not(i[class*="root"]),
body>div[role*="dialog"],
body>div[role*="dialog"] *:not(i[class*="root"]),
body>div[data-radix-popper-content-wrapper],
body>div[data-radix-popper-content-wrapper] *:not(i[class*="root"]) ,
body>div[data-portal] *:not(i[class*="root"]),
* {

  font-family: var(--font-standard, sans-serif);
  box-sizing: border-box;
}

[data-portal-element] {
  display: none;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

.root-150 {

  -webkit-font-smoothing: subpixel-antialiased !important;
}

div[class*="root-"] {
  -webkit-font-smoothing: subpixel-antialiased !important;
}

::selection {
  background-color: var(--surface-primary);
  color: var(--text-primary-foreground);
}

#spPropertyPaneContainer {
  opacity: 0;
  pointer-events: none;
}

html{
  max-width: 100%;
    overflow: hidden;
}