.fullScreenToggleIcon {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transition: all 0.3s ease;
}

.screenReaderOnly {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
