@keyframes dialogIn {
    from {
        opacity: 0;
        transform: translate(0%, -5px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

.notFoundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: var(--spacing-8);
    padding-inline: var(--spacing-4);
    
    opacity: 0;
    animation: dialogIn 200ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: 100ms;
}

.notFoundPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-8);
    text-align: center;
}

.notFoundPageMainIcon {
    stroke: var(--text-primary);
}

.notFoundPageTextColumn {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.notFoundPageMainTitle {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
    font-weight: 500;
    font-family: var(--font-brand)!important;
    color: var(--text-minus-1);
}

.notFoundPageMainHint {
    color: var(--text-2);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.notFoundPageButtons {
    display: flex;
    gap: var(--spacing-3);
}

.notFoundPageButtonBackIcon {
    margin-right: var(--spacing-1);
}

.notFoundPageButtonHomeIcon {
    margin-left: var(--spacing-1);
    stroke: var(--text-primary-foreground);
}