.componentDetails {

    display: flex;
    flex-direction: column;
    width: 100%;

    &Content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
        overflow: auto;
        flex: 1;
    }
}

.componentDetailsTitle {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    font-size: var(--text-lg);
}

.componentDetailsHeader {
    padding-inline: var(--spacing-8);
    line-height: var(--text-lg--line-height);
    padding-inline: var(--spacing-8);
    margin-bottom: var(--spacing-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.componentDetailsTitleIconWrapper {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-md);
    background-color: var(--surface-2);
}

.componentDetailsTitleIcon {
    stroke: var(--text-primary);
    width: 16px;
    height: 16px;
}

.componentDetailsTabs {
    margin-inline: var(--spacing-8);
    max-width: fit-content;
}

.componentDetailsNotCustomizable {
    margin-inline: var(--spacing-8);
    background-color: var(--surface-2);
    padding: var(--spacing-4);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);

    > svg {
        stroke: var(--text-primary);
    }
}

.componentDetailsAbout {
    margin-inline: var(--spacing-8);
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--spacing-4) var(--spacing-6);

    &ItemKey {
        font-weight: 500;
    }

    &ItemValue {
        white-space: pre-wrap;
    }

    > div {
        &:nth-child(4n-3) {
            font-weight: 500;
        }
    }
}