.keyNumbers {

    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-8);
    grid-auto-rows: auto;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.keyNumber {
    background-color: var(--surface);
    padding: var(--spacing-6);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: flex-start;
}

.keyNumberValue {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    font-weight: 600;
    font-family: var(--font-brand)!important;
    color: var(--text-color-secondary-standard);
    margin-bottom: var(--spacing-2);
}

.keyNumberTitle {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 500;
    font-family: var(--font-brand)!important;
    color: var(--text-color-secondary-standard);
}

.keyNumberDescription {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    font-weight: 400;
    color: var(--text-2);
}