// @import '../../../../../style/mixins/loading-animation';

.dragCell {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 32px;
    min-width: 32px;
    height: 100%;

    &:hover {
        cursor: grabbing;
    }

    &:active {
        cursor: grabbing;
    }

    &[data-is-loading="true"] {
        cursor: not-allowed;
        pointer-events: none;
        // @include loading-animation;

        &::before {
            max-width: 10px;
            max-height: 16px;
            margin: auto;
        }
    }
}

.dragIcon {
    color: var(--text-3);
    transition: color 0.2s ease;

    .dragCell:hover & {
        color: var(--text-2);
    }

    .dragCell:active & {
        color: var(--text-1);
    }

    .dragCell[data-is-loading="true"] & {
        color: var(--text-4);
    }
}