// .breadcrumbList {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     text-wrap: wrap;
//     text-align: left;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     gap: var(--spacing-2);
// }

// .breadcrumbItem {
//     display: flex;
//     align-items: center;
//     gap: var(--spacing-2);
// }

// .breadcrumbLink {
//     color: var(--text-minus-2);
//     font-size: var(--text-sm);
//     line-height: var(--text-sm--line-height);
//     font-weight: 400;
//     gap: var(--spacing-2);
//     align-items: center;
//     display: flex;
// }

// .breadcrumbPage {
//     color: var(--text-minus-2);
//     font-size: var(--text-sm);
//     line-height: var(--text-sm--line-height);
//     font-weight: 400;
//     gap: var(--spacing-2);
//     align-items: center;
//     display: flex;
// }