.checkbox {
    height: 1rem;
    width: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color-offset-2);
    background-color: var(--surface);
    padding: 0;
    color: var(--text);

    &:focus-visible {
        outline: 2px solid var(--border-primary);
        outline-offset: 2px;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &Indicator {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &CheckIcon {
        height: 0.75rem;
        width: 0.75rem;
    }
}



button.checkbox[data-state="checked"] {
    background-color: var(--surface-primary);
    border-color: var(--border-primary);

    & svg {
        stroke: var(--text-primary-foreground);
    }
}