.toggleButton {

    &:hover {
        background-color: var(--surface-2);
        border-color: var(--border-color-offset-2);
    }

    &:focus-visible {
        outline: 2px solid var(--surface-primary);
        outline-offset: 2px;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.toggleButtonPressed {
    background-color: var(--surface-primary);
    border-color: var(--surface-primary);
    color: var(--text-primary-foreground)!important;

    &:hover {
        background-color: var(--surface-primary-1);
        border-color: var(--surface-primary-1);
    }
}

