// .subpageBanner {
//     padding-inline: 0;
//     padding-block: var(--spacing-6);
// }

// .subpageBannerContent {
//     display: flex;
//     flex-direction: column;
//     min-height: 300px;
//     position: relative;
// }

// .subpageBannerImage {
//     background-color: var(--surface-1);
//     min-height: 300px;
//     border-radius: var(--radius-3xl);
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-size: cover;
//     background-position: center;
//     background-image: var(--img-url);
// }

// .subpageBannerTextContent {
//     background-color: var(--surface);
//     border-radius: var(--radius-3xl);
//     padding-inline: var(--spacing-6);
//     padding-block-start: var(--spacing-10);
//     padding-block-end: var(--spacing-6);
//     margin-left: var(--spacing-6);
//     transform: translateY(15px);
//     margin-top: 140px;
//     width: min(910px, 90%);
// }