// @import '../../../../../style/mixins/loading-animation';


.imageCell {
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;

    > img {
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }

    &Fallback {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid var(--border-color-standard);
        background-color: var(--surface-2);

        &Icon {
            stroke: var(--text-3);
        }
    }
}


// Loading state
[data-table][data-is-loading="true"] .imageCell {
    // @include loading-animation(0.10);
    pointer-events: none;
}