.errorMessage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-6);
    padding-block: var(--spacing-8);
    grid-column: span 12;
    margin-block: auto;
    max-width: 100%;
}

.errorMessageIcon {
    stroke: var(--text-destructive);
    fill: var(--surface-danger-soft);
}

.errorMessageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-2);
    max-width: 100%;
    hyphens: auto;
    overflow-wrap: anywhere;
}

.errorMessageTitle {
    font-weight: 500;
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    color: var(--text-minus-1);
}

.errorMessageDescription {
    color: var(--text-2);
}