.accordionItem {
	border-bottom: 1px solid var(--border-color-standard);
}

.accordionHeader {
	display: flex;
	color: var(--text);
}

.accordionTrigger {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	padding-top: var(--spacing-3);
	padding-bottom: var(--spacing-3);
	font-weight: 500;
	transition: all 0.2s;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	color: var(--text);

	&[data-state="open"]>svg {
		transform: rotate(180deg);
	}
}

.accordionChevron {
	height: 1rem;
	width: 1rem;
	flex-shrink: 0;
	transition: transform 0.2s;
	stroke: var(--text-2);
}

.accordionContent {
	overflow: hidden;
	font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
	transition: all 0.2s;

	&[data-state="closed"] {
		animation: accordionUp 0.2s ease-in-out;
	}

	&[data-state="open"] {
		animation: accordionDown 0.2s ease-in-out;
	}
}

.accordionContentInner {
	padding-bottom: var(--spacing-4);
	padding-top: 0;
}

@keyframes accordionDown {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: var(--radix-accordion-content-height, auto);
		opacity: 1;
	}
}

@keyframes accordionUp {
	from {
		height: var(--radix-accordion-content-height, auto);
		opacity: 1;
	}

	to {
		height: 0;
		opacity: 0;
	}
}