// @import '../../../../../bnppPsr/styles/mixins/scroll';

.workflow {

    position: relative;
    box-sizing: border-box;
    height: calc(100 - 1px * var(--y-coefficient) - 1px * var(--x-axis-thickness));
    display: flex;
    flex-direction: column;
    gap: var(--interspace, var(--spacing-4));
    left: calc(1px * var(--x-coefficient) + 1px * var(--y-axis-thickness));
    top: calc(1px * var(--y-coefficient) + 1px * var(--x-axis-thickness));
    width: calc(100% - 1px * var(--x-coefficient) - 1px * var(--y-axis-thickness));

    &Root {

        position: relative;
        display: flex;
        height: 100%;
        gap: var(--interspace-l, var(--spacing-8));

        --device-pixel-ratio: 1;
        --y-coefficient: 50;
        --x-coefficient: 50;
        --x-axis-thickness: 1;
        --y-axis-thickness: 1;
        --connector-thickness: 1;
        --connector-radius: 20;
        --arrow-pointer-thickness: 10;
        --item-height: 30;
        --item-width: 30;
        --item-color: var(--text);
        --item-font-size: var(--text-sm);
        --item-line-height: 17px;
        --distance-between-item-and-tooltip: 30;
        --distance-between-item-and-indicator: 30;

        --axis-offset: 1;

        &[data-show-indexes="false"] {

            --axis-offset: 0;

            .workflow {

                top: 0;
                left: 0;

                &XAxis>div {

                    height: 0;
                }

                &YAxis>div {

                    width: 0;
                }

                &XAxis>div,
                &YAxis>div {

                    color: transparent;
                }
            }
        }
    }

    &PreferencesButton {
        position: absolute;
        top: var(--spacing-4);
        right: var(--spacing-4);
        z-index: 1000;
    }

    &ConfigSidePanel {

        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        min-width: 400px;
        background: var(--surface);
        margin: calc(-1 * var(--spacing-8));
        padding: var(--spacing-8);
        border-left: 1px solid var(--border-color-standard);
    }

    &ConfigItem {

        position: relative;
        display: grid;
        gap: var(--spacing-4);
        grid-template-columns: 1fr 1fr;
        padding: var(--spacing-2) var(--spacing-3);

        &Label {

            font-weight: 500;
            font-size: 13px;
            color: var(--text-1);
        }
    }

    &Wrapper {

        position: relative;
        max-width: calc(100%);
        width: calc(100%);
        // height: calc(100% + 2 * var(--interspace-l, var(--spacing-8)));
        margin-right: calc(var(--interspace-l, var(--spacing-8)) * -1);
        align-self: center;
        margin-bottom: auto;

        // @include scrollbar();
    }

    &Tooltip {

        --tooltip-height: 60px;
        --tooltip-connector-border-width-base: 5px;
        --tooltip-max-width: 300px;
        --number-of-lines: 1;
        --line-height: 16px;

        position: absolute;
        background-color: var(--surface-1);
        border-radius: 8px;
        // En commentaire = avant l'ajout du paramètre showIndexes

        // top: calc(
        //     ( var(--hovered-y) * 2 + 3 )
        //     * ( var(--y-coefficient) + var(--x-axis-thickness) ) / 2 * 1px
        //     - 1px * var(--tooltip-height-based-on-ghost) / 2
        //     - var(--interspace-xs, var(--spacing-1-5))
        // );
        top: calc((var(--hovered-y) * 2 + (3 - (2 * (1 - var(--axis-offset))))) * (var(--y-coefficient) + var(--x-axis-thickness)) / 2 * 1px - 1px * var(--tooltip-height-based-on-ghost) / 2 - var(--interspace-xs, var(--spacing-1-5)));
        z-index: 100;
        filter: drop-shadow(0 2px 15px rgba(0, 0, 0, .15));
        // left: calc(
        //     ( var(--hovered-map-point-x) + 2 ) *
        //     ( 1px * var(--x-coefficient) ) +
        //     var(--tooltip-connector-border-width-base) +
        //     2.07107px -
        //     1px * var(--x-coefficient) / 2 +
        //     1px * ( var(--hovered-map-point-x ) * 2 + 3 ) *
        //     var(--y-axis-thickness) / 2 +
        //     1px * var(--item-width) / 2 +
        //     1px * var(--distance-between-item-and-tooltip)
        // );
        // left: calc(
        //     ( var(--hovered-map-point-x) + ( 2 - ( 1 - var(--axis-offset) ) ) ) *
        //     ( 1px * var(--x-coefficient) ) +
        //     var(--tooltip-connector-border-width-base) +
        //     2.07107px -
        //     1px * var(--x-coefficient) / 2 +
        //     1px * ( var(--hovered-map-point-x ) * 2 + (3 - ( 2 * ( 1 - var(--axis-offset) ) )) ) *
        //     var(--y-axis-thickness) / 2 +
        //     1px * var(--item-width) / 2 +
        //     1px * var(--distance-between-item-and-tooltip)
        // );
        padding: var(--interspace-xs, var(--spacing-1-5)) var(--interspace, var(--spacing-4));
        box-sizing: border-box;
        border-radius: 8px;
        max-width: var(--tooltip-max-width);
        display: flex;
        align-items: center;
        opacity: 1;
        transition: top 500ms, left 500ms, opacity 500ms;
        pointer-events: none;

        &[data-position="RIGHT"] {

            left: calc((var(--hovered-map-point-x) + (2 - (1 - var(--axis-offset)))) * (1px * var(--x-coefficient)) + var(--tooltip-connector-border-width-base) + 2.07107px - 1px * var(--x-coefficient) / 2 + 1px * (var(--hovered-map-point-x) * 2 + (3 - (2 * (1 - var(--axis-offset))))) * var(--y-axis-thickness) / 2 + 1px * var(--item-width) / 2 + 1px * var(--distance-between-item-and-tooltip));

            &::before {

                content: '';
                // transform: rotate(135deg) translateX(-1px) translateY(-1px);
                transform: rotate(135deg) translateX(0) translateY(-0.5px);
                border-width: var(--tooltip-connector-border-width-base);
                border-style: solid;
                // left: calc( -1 * var(--tooltip-connector-border-width-base) );
                left: calc(-1 * var(--tooltip-connector-border-width-base) + 1px);
                position: absolute;
                border-right-color: var(--surface-1);
                border-bottom-color: var(--surface-1);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &[data-position="LEFT"] {

            // Se référer au fichier css pour la position left

            &::before {

                content: '';
                // transform: rotate(135deg) translateX(-1px) translateY(-1px);
                transform: rotate(135deg) translateX(0) translateY(0.5px);
                border-width: var(--tooltip-connector-border-width-base);
                border-style: solid;
                // left: calc( -1 * var(--tooltip-connector-border-width-base) );
                right: calc(-1 * var(--tooltip-connector-border-width-base) + 0px);
                position: absolute;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: var(--surface-1);
                border-top-color: var(--surface-1);
            }
        }

        &UsersInCharge {

            display: none;
            align-items: center;
            gap: var(--interspace-xxs, var(--spacing-1));

            >span {

                color: var(--gray-700);
            }

            >div {

                display: inline-flex;
                gap: var(--interspace-xxs, var(--spacing-1));
            }
        }

        &Type {

            font-size: 11px;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            display: flex;
            align-items: center;
            // text-indent: 10px;
            white-space: nowrap;
            border-bottom: 1px solid var(--gray-200);
            padding-bottom: var(--interspace-xxs, var(--spacing-1));
            color: var(--gray-500);

            &::before {

                display: none; // feature annulée
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }

        &Title {

            font-weight: 500;
            max-width: 100%;

            [class*="cell_"] {

                // petit fix visuel
                max-width: calc(100% - 0.6px);

                >div {

                    margin-right: auto;
                    margin-left: unset;
                }
            }
        }

        &Real,
        &Ghost {

            // gap: var(--interspace-xxs, var(--spacing-1));
            gap: var(--interspace-xs, var(--spacing-1-5));
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
        }

        &Real {

            position: relative;
            height: calc(1px * var(--tooltip-height-based-on-ghost));
            width: calc(1px * var(--tooltip-width-based-on-ghost));
            overflow: hidden;
            transition: height 500ms, width 500ms;
            pointer-events: auto !important;

            >* {
                width: 100%;
            }

            .workflowTooltipTitle {

                min-width: calc(1px * var(--tooltip-width-based-on-ghost));
            }
        }

        &Ghost {

            position: absolute;
            width: calc(100% - var(--interspace, var(--spacing-4)) * 2);
            visibility: hidden;
            pointer-events: none;
        }

        &[data-is-visible="false"] {

            opacity: 0;
        }

        // bug preprod ici (les trois) fixed avec le use effect dans WorkflowRoot
        // (injection de style dans le document.head)
        &[data-type="WorkflowAction"] {

            .workflowTooltipType::before {

                background-color: var(--primary-color-500);
            }

            .workflowTooltipUsersInCharge {

                display: flex;
            }
        }

        &[data-type="WorkflowStatus"] {

            .workflowTooltipType::before {

                background-color: royalblue;
            }
        }

        &[data-type="WorkflowSwitch"] {

            .workflowTooltipType::before {

                background-color: #c711b6;
            }
        }
    }

    &FormBox {
        --tooltip-height: 60px;
        --tooltip-connector-border-width-base: 5px;
        --tooltip-max-width: 500px;
        --number-of-lines: 1;
        --line-height: 16px;

        position: absolute;
        background-color: var(--surface-1);
        border-radius: 8px;
        // En commentaire = avant l'ajout du paramètre showIndexes

        // top: calc(
        //     ( var(--hovered-y) * 2 + 3 )
        //     * ( var(--y-coefficient) + var(--x-axis-thickness) ) / 2 * 1px
        //     - 1px * var(--tooltip-height-based-on-ghost) / 2
        //     - var(--interspace-xs, var(--spacing-1-5))
        // );
        top: calc((var(--hovered-y) * 2 + (3 - (2 * (1 - var(--axis-offset))))) * (var(--y-coefficient) + var(--x-axis-thickness)) / 2 * 1px - 1px * var(--tooltip-height-based-on-ghost) / 2 - var(--interspace-xs, var(--spacing-1-5)));
        z-index: 100;
        filter: drop-shadow(0 2px 15px rgba(0, 0, 0, .15));
        // left: calc(
        //     ( var(--hovered-map-point-x) + 2 ) *
        //     ( 1px * var(--x-coefficient) ) +
        //     var(--tooltip-connector-border-width-base) +
        //     2.07107px -
        //     1px * var(--x-coefficient) / 2 +
        //     1px * ( var(--hovered-map-point-x ) * 2 + 3 ) *
        //     var(--y-axis-thickness) / 2 +
        //     1px * var(--item-width) / 2 +
        //     1px * var(--distance-between-item-and-tooltip)
        // );
        // left: calc(
        //     ( var(--hovered-map-point-x) + ( 2 - ( 1 - var(--axis-offset) ) ) ) *
        //     ( 1px * var(--x-coefficient) ) +
        //     var(--tooltip-connector-border-width-base) +
        //     2.07107px -
        //     1px * var(--x-coefficient) / 2 +
        //     1px * ( var(--hovered-map-point-x ) * 2 + (3 - ( 2 * ( 1 - var(--axis-offset) ) )) ) *
        //     var(--y-axis-thickness) / 2 +
        //     1px * var(--item-width) / 2 +
        //     1px * var(--distance-between-item-and-tooltip)
        // );
        padding: var(--interspace-xs, var(--spacing-1-5)) var(--interspace, var(--spacing-4));
        box-sizing: border-box;
        border-radius: 8px;
        max-width: var(--tooltip-max-width);
        display: flex;
        align-items: center;
        opacity: 1;
        transition: top 500ms, left 500ms, opacity 500ms;
        pointer-events: none;

        &[data-position="RIGHT"] {

            left: calc((var(--hovered-map-point-x) + (2 - (1 - var(--axis-offset)))) * (1px * var(--x-coefficient)) + var(--tooltip-connector-border-width-base) + 2.07107px - 1px * var(--x-coefficient) / 2 + 1px * (var(--hovered-map-point-x) * 2 + (3 - (2 * (1 - var(--axis-offset))))) * var(--y-axis-thickness) / 2 + 1px * var(--item-width) / 2 + 1px * var(--distance-between-item-and-tooltip));

            &::before {

                content: '';
                // transform: rotate(135deg) translateX(-1px) translateY(-1px);
                transform: rotate(135deg) translateX(0) translateY(-0.5px);
                border-width: var(--tooltip-connector-border-width-base);
                border-style: solid;
                // left: calc( -1 * var(--tooltip-connector-border-width-base) );
                left: calc(-1 * var(--tooltip-connector-border-width-base) + 1px);
                position: absolute;
                border-right-color: var(--surface-1);
                border-bottom-color: var(--surface-1);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &[data-position="LEFT"] {

            // Se référer au fichier css pour la position left

            &::before {

                content: '';
                // transform: rotate(135deg) translateX(-1px) translateY(-1px);
                transform: rotate(135deg) translateX(0) translateY(0.5px);
                border-width: var(--tooltip-connector-border-width-base);
                border-style: solid;
                // left: calc( -1 * var(--tooltip-connector-border-width-base) );
                right: calc(-1 * var(--tooltip-connector-border-width-base) + 0px);
                position: absolute;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: var(--surface-1);
                border-top-color: var(--surface-1);
            }
        }

        &UsersInCharge {

            display: none;
            align-items: center;
            gap: var(--interspace-xxs, var(--spacing-1));

            >span {

                color: var(--gray-700);
            }

            >div {

                display: inline-flex;
                gap: var(--interspace-xxs, var(--spacing-1));
            }
        }

        &Type {

            font-size: 11px;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            display: flex;
            align-items: center;
            // text-indent: 10px;
            white-space: nowrap;
            border-bottom: 1px solid var(--gray-200);
            padding-bottom: var(--interspace-xxs, var(--spacing-1));
            color: var(--gray-500);

            &::before {

                display: none; // feature annulée
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }

        &Title {

            font-weight: 500;
            max-width: 100%;

            [class*="cell_"] {

                // petit fix visuel
                max-width: calc(100% - 0.6px);

                >div {

                    margin-right: auto;
                    margin-left: unset;
                }
            }
        }

        &Real,
        &Ghost {

            // gap: var(--interspace-xxs, var(--spacing-1));
            gap: var(--interspace-xs, var(--spacing-1-5));
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
        }

        &Real {

            position: relative;
            height: calc(1px * var(--tooltip-height-based-on-ghost));
            width: calc(1px * var(--tooltip-width-based-on-ghost));
            overflow: hidden;
            transition: height 500ms, width 500ms;
            pointer-events: auto !important;

            >* {
                width: 100%;
            }

            .workflowTooltipTitle {

                min-width: calc(1px * var(--tooltip-width-based-on-ghost));
            }
        }

        &Ghost {

            position: absolute;
            width: calc(100% - var(--interspace, var(--spacing-4)) * 2);
            visibility: hidden;
            pointer-events: none;
        }

        &[data-is-visible="false"] {

            opacity: 0;
        }

        &Input {
            border: 0;
            background: transparent;
            box-shadow: unset;
            font-size: var(--text-lg);
            padding-inline-start: var(--spacing-10);
        }

        &InputIcon {
            position: absolute;
            left: var(--spacing-5);
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        &InputContainer {
            position: relative;
            width: 100%;
            border-bottom: 1px solid var(--border-color-standard);
            margin-bottom: var(--spacing-2);
            padding: var(--spacing-2);
        }
    }

    &CurrentItemIndicator {

        display: none !important;
        --indicator-height: 30;
        --indicator-circle-thickness: 10;

        position: absolute;
        display: flex;
        border-radius: 8px;
        // top: calc(
        //     (var(--current-item-y)*2 + 3) *
        //     (var(--y-coefficient) + var(--x-axis-thickness)) / 2 * 1px
        //     - 1px * var(--indicator-height) / 2
        // );
        top: calc((var(--current-item-y)*2 + (3 - (2 * (1 - var(--axis-offset))))) * (var(--y-coefficient) + var(--x-axis-thickness)) / 2 * 1px - 1px * var(--indicator-height) / 2);

        height: calc(1px * var(--indicator-height));
        z-index: 100;
        filter: drop-shadow(0 2px 15px rgba(0, 0, 0, .15));
        // left: calc(
        //     (var(--current-item-x) + 2 ) * 1px *
        //     var(--x-coefficient)
        //     - 1px * var(--x-coefficient) / 2 +
        //     1px * (var(--current-item-x) * 2 + 3) *
        //     var(--y-axis-thickness) / 2 +
        //     1px * var(--item-width)/ 2  +
        //     1px * var(--distance-between-item-and-indicator)
        // );
        left: calc((var(--current-item-x) + (2 - (1 - var(--axis-offset)))) * 1px * var(--x-coefficient) - 1px * var(--x-coefficient) / 2 + 1px * (var(--current-item-x) * 2 + (3 - (2 * (1 - var(--axis-offset))))) * var(--y-axis-thickness) / 2 + 1px * var(--item-width)/ 2 + 1px * var(--distance-between-item-and-indicator));
        box-sizing: border-box;
        align-items: center;
        opacity: 1;
        padding-inline: var(--interspace-xs, var(--spacing-1-5));
        z-index: 3;
        // background-color: var(--primary-color-700);
        background-color: transparent;
        transition: opacity 500ms;

        >span {

            font-size: 12px;
            text-transform: uppercase;
            color: transparent;
            font-weight: 500;
            user-select: none;
        }

        &::before {

            content: '';
            position: absolute;
            height: calc(1px * var(--connector-thickness));
            background-color: transparent;
            width: calc(1px * var(--distance-between-item-and-indicator) + 1px * var(--item-width) / 2);
            right: 100%;
            top: calc(50% - 1px * var(--connector-thickness) / 2);
        }

        &::after {

            content: '';
            position: absolute;
            height: calc(1px * var(--indicator-circle-thickness));
            width: calc(1px * var(--indicator-circle-thickness));
            background-color: #9b197b;
            right: calc(100% + 1px * var(--distance-between-item-and-indicator) + 1px * var(--item-width) / 2 - 1px * var(--indicator-circle-thickness) / 2);
            top: calc(50% - 1px * var(--indicator-circle-thickness) / 2);
            border-radius: 100%;
            animation: pulsate 1s ease-in-out;
            animation-iteration-count: infinite;

            @keyframes pulsate {
                0% {
                    transform: scale(.1);
                    opacity: 0.0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    transform: scale(1.2);
                    opacity: 0;
                }
            }
        }

        &[data-is-visible="false"] {

            opacity: 0;
        }

        &[data-is-using-message="true"] {

            background-color: var(--primary-color-700);

            >span {

                color: white;
            }

            &::before {

                background-color: var(--primary-color-700);
            }
        }
    }

    &YAxis,
    &XAxis {

        display: flex;
        position: absolute;

        >div {

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            z-index: 1;

            &::after {

                content: '';
                position: absolute;
                background-color: var(--border-color-standard);
                z-index: 1;
            }
        }
    }

    &YAxis {

        flex-direction: column;
        top: calc(1px * var(--y-coefficient) + 1px * var(--x-axis-thickness));

        >div {

            width: calc(1px * var(--x-coefficient) + 1px * var(--y-axis-thickness));
            height: calc(1px * var(--y-coefficient) + 1px * var(--x-axis-thickness));

            &::after {

                top: calc(-1px * var(--x-axis-thickness) / 2);
                width: calc(1px * (var(--workflow-x-length) + 1) * (var(--x-coefficient) + var(--y-axis-thickness)));
                height: calc(1px * var(--x-axis-thickness) / var(--device-pixel-ratio));
                left: 0;
            }
        }
    }

    &XAxis {

        top: 0;
        left: calc(1px * var(--x-coefficient) + 1px * var(--y-axis-thickness));

        >div {

            width: calc(1px * var(--x-coefficient) + 1px * var(--y-axis-thickness));
            height: calc(1px * var(--y-coefficient) + 1px * var(--x-axis-thickness));

            &::after {

                top: 0;
                height: calc(1px * (var(--workflow-y-length) + 1) * (var(--y-coefficient) + var(--x-axis-thickness)));
                width: calc(1px * var(--y-axis-thickness) / var(--device-pixel-ratio));
                left: calc(-1px * var(--y-axis-thickness) / 2);
            }
        }
    }

    &HoveredTile {

        position: absolute;
        // axis-offset valait juste 1 avant
        // maintenant il peut aussi valoir 0 si pas d'indexes
        top: calc((1px * var(--y-coefficient) + 1px * var(--x-axis-thickness)) * (var(--hovered-y) + var(--axis-offset)) + 1px * var(--x-axis-thickness) / 2);
        // left: calc(
        //     1px * var(--x-coefficient) *
        //     ( var(--hovered-x) + var(--axis-offset) ) +
        //     1px * var(--y-axis-thickness) *
        //     var(--hovered-x) + 3px *
        //     var(--y-axis-thickness) / 2
        // );
        left: calc(1px * var(--x-coefficient) * (var(--hovered-x) + var(--axis-offset)) + 1px * var(--y-axis-thickness) * var(--hovered-x) + (3px - 2px * (1 - var(--axis-offset))) * var(--y-axis-thickness) / 2);
        width: calc(1px * var(--x-coefficient));
        height: calc(1px * var(--y-coefficient));
        z-index: 0;
        background-color: transparent;

        &HoveringItem {

            background-color: transparent;
        }
    }
}

.workflowMapBgDot {
    background-image: radial-gradient(circle, var(--bg-dot) 1px, transparent 1px);
    background-size: 24px 24px;
    background-repeat: repeat;
    background-position: center;
    // min-width: calc(1px * var(--x-coefficient) * var(--max-x-value) + 1px * var(--y-axis-thickness) + var(--spacing-8));
    // min-height: max( 100vh - var(--header-height) - 85px + var(--spacing-8), 1px * var(--y-coefficient) * var(--max-y-value) +  1px * var(--x-axis-thickness) + var(--spacing-8));
    min-width: max(100vw - var(--polygon-sidebar-width), 1px * var(--x-coefficient) * var(--max-x-value) + 1px * var(--y-axis-thickness) + var(--spacing-8));

    min-height: max(100vh, 1px * var(--y-coefficient) * var(--max-y-value) + 1px * var(--x-axis-thickness) + var(--spacing-8) * 2);
    position: absolute;
    inset: 0px;
    z-index: -1;
    margin-block: calc(-1 * var(--spacing-8));
    margin-inline: calc(-1 * var(--spacing-8));
    margin-top: calc(-1 * var(--spacing-8));
    top: calc(var(--show-indexes, 1) * -1px * var(--y-coefficient) - var(--header-height));
    left: calc(var(--show-indexes, 1) * -1px * var(--x-coefficient));
    z-index: -1;
}
