.breakPermissionForm {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggleInfo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.toggleDescription {
    font-size: var(--text-sm);
    color: var(--text-2);
}

