.contextMenuSubTrigger {
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.375rem 0.5rem;
    font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
    outline: none;
    transition: background 0.2s, color 0.2s;

    &:focus,
    &[data-state="open"] {
        background: var(--surface-2);
        color: var(--text-minus-2);
    }

    & svg {
        pointer-events: none;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    &.inset {
        padding-left: 2rem;
    }
}

.contextMenuSubContent {
    z-index: 100;
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.375rem;
    border: 1px solid var(--border-color-standard);
    background: var(--surface);
    color: var(--text);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-1);

    &[data-state="open"] {
        animation: fadeIn 0.2s, zoomIn 0.2s;
    }

    &[data-state="closed"] {
        animation: fadeOut 0.2s, zoomOut 0.2s;
    }
}

.contextMenuContent {
    z-index: 100;
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.375rem;
    border: 1px solid var(--border-color-standard);
    background: var(--surface);
    color: var(--text);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-1);

    &[data-state="open"] {
        animation: fadeIn 0.2s, zoomIn 0.2s;
    }

    &[data-state="closed"] {
        animation: fadeOut 0.2s, zoomOut 0.2s;
    }
}

.contextMenuItem {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    gap: var(--spacing-2-5);
    border-radius: 0.25rem;
    padding: 0.375rem 0.5rem;
    font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
    outline: none;
    font-weight: 500;
    transition: background 0.2s, color 0.2s;

    &:focus {
        background: var(--surface-2);
        color: var(--text-minus-2);

        .contextMenuItemIcon {
            stroke: var(--text-primary-2);
            fill: var(--surface-primary-soft);
        }

        .contextMenuItemIconDanger {
            stroke: var(--text-destructive-2);
            fill: var(--surface-danger-soft);
        }
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
    }

    & svg {
        pointer-events: none;
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
    }

    &.inset {
        padding-left: 2rem;
    }

    &::before {
        content: '';
        position: absolute;
        inset: calc(var(--spacing-1) * -1);
        cursor: pointer;
    }
}

.contextMenuItemIcon {
    flex-shrink: 0;
    stroke: var(--text-primary-1);
    fill: transparent;
    transition: stroke 0.2s, fill 0.2s;
}

.contextMenuItemIconDanger {
    flex-shrink: 0;
    stroke: var(--text-destructive);
    fill: transparent;
    transition: stroke 0.2s, fill 0.2s;
}

.contextMenuItemText {
    flex: 1;
    white-space: nowrap;
}

.contextMenuCheckboxItem,
.contextMenuRadioItem {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.375rem 0.5rem 0.375rem 2rem;
    font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
    outline: none;
    transition: background 0.2s, color 0.2s;

    &:focus {
        background: var(--surface-2);
        color: var(--text-minus-2);
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
    }

    .itemIndicator {
        position: absolute;
        left: 0.5rem;
        display: flex;
        width: 0.875rem;
        height: 0.875rem;
        align-items: center;
        justify-content: center;
    }
}

.contextMenuLabel {
    padding: 0.375rem 0.5rem;
    font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
    font-weight: 600;

    &.inset {
        padding-left: 2rem;
    }
}

.contextMenuSeparator {
    margin: 0.25rem -0.25rem;
    height: 1px;
    background: var(--border-color-standard);
}

.contextMenuShortcut {
    margin-left: auto;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    opacity: 0.6;
    color: var(--text-3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}
