.bgTransparent { background-color: transparent }

.bgOffsetMinus2 { background-color: var(--surface-minus-2) }

.bgOffsetMinus1 { background-color: var(--surface-minus-1) }

.bgStandard { background-color: var(--surface) }

.bgOffset1 { background-color: var(--surface-1) }

.bgOffset2 { background-color: var(--surface-2) }

.bgOffset3 { background-color: var(--surface-3) }

.bgOffset4 { background-color: var(--surface-4) }