.radiusNone { border-radius: 0 }

.radiusXs { border-radius: var(--radius-xs) }

.radiusSm { border-radius: var(--radius-sm) }

.radiusMd { border-radius: var(--radius-md) }

.radiusLg { border-radius: var(--radius-lg) }

.radiusXl { border-radius: var(--radius-xl) }

.radius2xl { border-radius: var(--radius-2xl) }

.radius3xl { border-radius: var(--radius-3xl) }

.radius4xl { border-radius: var(--radius-4xl) }

.radius5xl { border-radius: var(--radius-5xl) }

.radius6xl { border-radius: var(--radius-6xl) }

.radius7xl { border-radius: var(--radius-7xl) }

.radius8xl { border-radius: var(--radius-8xl) }

.radiusFull { border-radius: var(--radius-full) }