.fancyTabs {
    width: 100%;
    position: relative;
}

.scrollArea {
    width: 100%;
}

.tabsList {
    display: inline-flex;
    align-items: center;
    gap: 0;
    height: 40px;
    background-color:transparent;
    border-radius: var(--radius-md);
    border-radius: 0;
}

.tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-2);
    font-size: var(--text-sm);
    font-weight: 500;
    color: var(--text-2);
    background-color: transparent;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition:
        color 0.150s ease-in-out,
        background-color 0.150s ease-in-out;
    user-select: none;
    min-height: 32px;
    font-weight: 600;
    font-size: var(--text-base);
    font-family: var(--font-brand) !important;

    &:hover {
        color: var(--text);
        background-color: var(--surface-minus-1-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--primary-color-500);
        outline-offset: 2px;
    }

    &[data-state="active"] {
        color: var(--text-primary);

        &:hover {
            color: var(--text-primary-1);
            background-color: var(--surface-minus-1-hover);
        }

        .fancyBar {
            opacity: 1;
            transform: scale(1);
            width: 40px;
        }
    }
}

.tabActive {
    color: var(--text-primary);

    &:hover {
        color: var(--text-primary-1);
        background-color: var(--surface-minus-1-hover);
    }

    .fancyBar {
        opacity: 1;
        transform: scale(1);
        width: 40px;
    }
}

.tabsContent {
    margin-top: var(--spacing-4);
    padding: var(--spacing-4);
    outline: none;

    &:focus-visible {
        outline: 2px solid var(--primary-color-500);
        outline-offset: 2px;
        border-radius: var(--radius-sm);
    }
}

.parenthesis {
    font-size: var(--text-xs);
    margin-left: var(--spacing-1);
    font-weight: 400;
    margin-top: 1px;
}

.fancyBar {
    position: absolute;
    height: 3px;
    width: 20px;
    background: var(--primary-color-500);
    margin: auto;
    display: block;
    border-radius: var(--radius-full);
    opacity: 0;
    transform: scale(0.7) translateY(2px);
    transition:
        opacity 0.150s ease-in-out,
        transform 0.150s ease-in-out,
        width 0.150s ease-in-out;
    inset: 0;
    bottom: 0px;
    top: unset;
    pointer-events: none;
}

