.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    // background-color: var(--surface);
    margin-left: calc( var(--polygon-sidebar-width, 280px) + var(--spacing-8) * 2);
    width: calc(100% - var(--polygon-sidebar-width, 280px));
}