// @import "../../../style/mixins/loading-animation";

.automationWorkflowsSidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: var(--polygon-sidebar-width);
    max-width: var(--polygon-sidebar-width);
    background-color: var(--polygon-sidebar-bg);

    &Header {
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-2);
        padding: var(--spacing-2);
        padding-inline: var(--spacing-8);
        padding-top: var(--spacing-8);
        padding-bottom: var(--spacing-3);
        min-height: 85px;

        &TitleWrapper {
            font-size: var(--text-lg);
            line-height: var(--text-lg--line-height);
            font-weight: 700;
            gap: var(--spacing-2);
            align-items: center;
            display: flex;
        }

        &Icon {
            stroke: var(--text-primary);
        }

        &Title {
            font-family: var(--font-brand) !important;
        }
    }

    &Content {
        flex: 1;
        overflow-y: auto;
        padding-top: 1px;
        transform: translateY(1px);
        display: flex;
        flex-direction: column;
    }

    &Divider {
        min-height: 1px;
        background-color: var(--border-color-offset-1);
        margin: var(--spacing-4) var(--spacing-8);
        opacity: 0.5;
    }

    &Section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
        position: relative;
        margin-bottom: var(--spacing-4);

        &Header {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-family: var(--font-brand) !important;
            font-size: var(--text-xs);
            padding: 0 var(--spacing-8);
            margin: var(--spacing-4) 0 var(--spacing-2) 0;
            color: var(--text-minus-2);
        }

        &Items {
            display: flex;
            flex-direction: column;
            padding-inline-start: 0;
            margin-block: 0;
        }
    }

    &Item {
        position: relative;
        list-style: none;
        max-height: 34px;

        &[data-is-loading="true"] {
            a {
                pointer-events: none;

                span {
                    background: var(--primary-color-200);
                    border-radius: 4px;
                    color: transparent;
                    // @include loading-animation;
                }
            }
        }

        &Button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-2);
            padding: var(--spacing-2-5) var(--spacing-8);
            font-size: var(--text-sm);
            font-weight: 500;
            text-decoration: none;
            color: var(--text);
            cursor: pointer;
            transition: background-color 0.15s;
            position: relative;
            min-width: 0;
            min-height: var(--spacing-9);


            &:hover {
                background-color: var(--polygon-sidebar-bg-hover);
            }

            &[data-active="true"] {
                background-color: var(--polygon-sidebar-bg-active);
                color: var(--text);

                .automationWorkflowsSidebarItemIcon {
                    stroke: var(--text-primary);
                }
            }
        }

        &Content {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            flex: 1;
            min-width: 0;
        }

        &Icon {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            color: var(--text-primary);
            stroke: var(--text-primary);
            position: relative;
            z-index: 1;
        }

        &Title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            flex: 1;
        }

        &Chevron {
            flex-shrink: 0;
            opacity: 0.5;
            transition: all 0.12s ease-in-out;
        }
    }

    &Item:hover {
        .automationWorkflowsSidebarItemChevron {
            transform: translateX(2px);
            opacity: 1;
        }
    }

    &EmptyState {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding: var(--spacing-4) var(--spacing-8);
        text-align: left;
        gap: var(--spacing-2);
        color: var(--text-minus-1);
        list-style: none;

        &Text {
            font-size: var(--text-sm);
            font-weight: 600;
            color: var(--text-1);
            margin: 0;
        }

        &Description {
            font-size: var(--text-xs);
            color: var(--text-3);
            margin: 0;
            line-height: 1.5;
        }
    }
}

