.selectTrigger {
    box-shadow: var(--box-shadow-light);
    display: flex;
    height: var(--spacing-10);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-color-standard);
    background-color: var(--surface-minus-2);
    padding-inline: var(--spacing-3);
    padding-block: var(--spacing-2);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--text);

    &::placeholder {
        color: var(--text-3);
    }

    &:hover {
        border-color: var(--border-color-offset-1);
    }

    &>span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        border-color: var(--border-color-offset-1);
    }

    &:focus-visible, &:focus-within {
        outline: 2px solid var(--border-primary);
        outline-offset: 2px;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover {
        border-color: var(--border-color-offset-1);
    }

    &[aria-invalid="true"] {
        background-color: var(--surface-danger-soft);
        border-color: var(--border-destructive);
        color: var(--text-destructive);

        &::placeholder {
            color: var(--text-destructive);
        }

        &:hover {
            border-color: var(--border-destructive-hover);
        }
    }

    &[aria-invalid="true"]:focus-visible, &[aria-invalid="true"]:focus-within {
        outline: 2px solid var(--border-destructive);
        outline-offset: 2px;
    }

    &Icon {
        width: var(--spacing-4);
        height: var(--spacing-4);
        opacity: 0.5;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-0.5rem) scale(0.95);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(0.5rem) scale(0.95);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-0.5rem) scale(0.95);
    }

    to {
        transform: translateX(0) scale(1);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(0.5rem) scale(0.95);
    }

    to {
        transform: translateX(0) scale(1);
    }
}

// === KEYFRAMES POUR POPPER ===
@keyframes slideInFromTopPopper {
    from {
        transform: translateY(calc(-0.5rem + var(--spacing-1))) scale(0.95);
    }
    to {
        transform: translateY(var(--spacing-1)) scale(1);
    }
}
@keyframes slideInFromBottomPopper {
    from {
        transform: translateY(calc(0.5rem + var(--spacing-1))) scale(0.95);
    }
    to {
        transform: translateY(var(--spacing-1)) scale(1);
    }
}
@keyframes slideInFromLeftPopper {
    from {
        transform: translateX(calc(-0.5rem + -1 * var(--spacing-1))) scale(0.95);
    }
    to {
        transform: translateX(calc(-1 * var(--spacing-1))) scale(1);
    }
}
@keyframes slideInFromRightPopper {
    from {
        transform: translateX(calc(0.5rem + var(--spacing-1))) scale(0.95);
    }
    to {
        transform: translateX(var(--spacing-1)) scale(1);
    }
}

.selectContent {
    position: relative;
    z-index: 100;
    max-height: 24rem;
    min-width: 8rem;
    overflow: hidden;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-color-standard);
    background-color: var(--surface);
    color: var(--text);
    box-shadow: var(--box-shadow-medium);
    padding: 0;
    transition: transform 0.2s, opacity 0.2s;

    &[data-state="open"] {
        animation: fadeIn 0.2s, zoomIn 0.2s;

        &[data-side="bottom"] {
            animation-name: fadeIn, zoomIn, slideInFromTop;
        }

        &[data-side="top"] {
            animation-name: fadeIn, zoomIn, slideInFromBottom;
        }

        &[data-side="right"] {
            animation-name: fadeIn, zoomIn, slideInFromLeft;
        }

        &[data-side="left"] {
            animation-name: fadeIn, zoomIn, slideInFromRight;
        }
    }

    &[data-state="closed"] {
        animation: fadeOut 0.2s, zoomOut 0.2s;
    }

    &Popper {
        &[data-state="open"][data-side="bottom"] {
            animation-name: fadeIn, zoomIn, slideInFromTopPopper;
        }
        &[data-state="open"][data-side="top"] {
            animation-name: fadeIn, zoomIn, slideInFromBottomPopper;
        }
        &[data-state="open"][data-side="right"] {
            animation-name: fadeIn, zoomIn, slideInFromLeftPopper;
        }
        &[data-state="open"][data-side="left"] {
            animation-name: fadeIn, zoomIn, slideInFromRightPopper;
        }
        &[data-state="open"] {
            animation-duration: 0.2s, 0.2s, 0.2s;
        }
        &[data-state="closed"] {
            animation: fadeOut 0.2s, zoomOut 0.2s;
        }
        &[data-side="bottom"] {
            transform: translateY(var(--spacing-1));
        }
        &[data-side="left"] {
            transform: translateX(calc(-1 * var(--spacing-1)));
        }
        &[data-side="right"] {
            transform: translateX(var(--spacing-1));
        }
        &[data-side="top"] {
            transform: translateY(calc(-1 * var(--spacing-1)));
        }
    }
}

.selectViewport {
    padding: var(--spacing-1);

    &Popper {
        width: 100%;
        min-width: var(--radix-select-trigger-width);
        height: var(--radix-select-trigger-height);
    }
}

.selectLabel {
    padding-top: var(--spacing-1-5);
    padding-bottom: var(--spacing-1-5);
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-2);
    font-size: var(--text-sm);
    font-weight: 600;
}

.selectItem {
    position: relative;
    display: flex;
    width: 100%;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: var(--radius-sm);
    padding-top: var(--spacing-1-5);
    padding-bottom: var(--spacing-1-5);
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-2);
    font-size: var(--text-sm);
    outline: none;
    transition: background 0.2s, color 0.2s;

    &:focus {
        background: var(--surface-2);
        color: var(--text-minus-2);
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
}

.selectItemIndicatorWrapper {
    position: absolute;
    left: var(--spacing-2);
    display: flex;
    height: var(--spacing-3-5);
    width: var(--spacing-3-5);
    align-items: center;
    justify-content: center;
}

.selectItemIndicatorIcon {
    width: var(--spacing-4);
    height: var(--spacing-4);
}

.selectSeparator {
    margin-left: calc(-1 * var(--spacing-1));
    margin-right: calc(-1 * var(--spacing-1));
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
    height: 1px;
    background: var(--surface-3);
}

.selectScrollButton {
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
}

.selectScrollIcon {
    width: var(--spacing-4);
    height: var(--spacing-4);
}
