.pictureUpload {
    position: relative;
    height: 100%;
    border-radius: var(--radius-full);
    aspect-ratio: 1 / 1;
    min-height: 150px;
    margin: auto;
    box-shadow: var(--box-shadow-light);
    border: 1px solid var(--border-color-standard);

    &Label {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-full);
        cursor: pointer;
        overflow: hidden;

        &:hover {

            .pictureUploadOverlay {
                opacity: 1;
            }
        }

        &WithoutPreview {
            border: 1px solid var(--border-color-standard);

            &:hover {
                border-color: var(--border-color-offset-1);
            }
        }

        &Empty {
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
            color: var(--text-3);
            cursor: pointer;
            padding: var(--spacing-4);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-2);
            height: 100%;
            justify-content: center;
            background-color: var(--surface-minus-2);
            width: 100%;

            &:hover {

                background-color: var(--surface-1);
                color: var(--text-1);
            }
        }

        &:focus-visible,
        &:focus-within {
            outline: 2px solid var(--border-primary);
            outline-offset: 2px;
        }
    }

    &ImagePreview {

        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;

        &Contain {
            object-fit: contain;
        }
    }

    &Overlay {

        position: absolute;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: var(--spacing-4);
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
        color: white;
        inset: 0;
        flex-direction: column;
        gap: var(--spacing-2);
    }

    &Rectangular {

        aspect-ratio: unset;
        width: 100%;
        border-radius: var(--radius-md);

        .pictureUploadLabel {

            border-radius: var(--radius-lg);
        }
    }
}

.displayNone {
    display: none;
}