@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loadingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.loadingPageIcon {
    color: var(--text-2);
    animation: spin 1s linear infinite;
}