.app {
    display: flex;
    height: inherit;
    inset: 0;
    z-index: 100;
    --current-admin-menu-height: 0px;
    flex: 1;
    display: flex;
        flex: 1;
        flex-direction: column;
        overflow: auto;
        background-color: var(--surface);
        background-image: radial-gradient(circle, var(--bg-dot) 1px, transparent 1px);
    background-size: 24px 24px;
    background-repeat: repeat;
    background-position: center;

    &FullScreen {
        position: fixed;
    }

    &NotFullScreen {
        position: relative;
    }

    &Content {
        display: flex;
        flex: 1;
        // background-color: var(--surface);
        // overflow: auto;
    }
}

.appAdminSidebarOpened {
    --current-admin-menu-height: var(--admin-menu-height);
}

.polygonAppContent {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.polygonAppContentMain > div {
    margin-left: var(--polygon-sidebar-width);
    width: calc(100% - var(--polygon-sidebar-width));
}