@import '../../../../style/mixins/container';


.section1Column {
    border-radius: var(--radius-xl);
}

.section1ColumnContent {
    @include container();
    margin-inline: auto;
}

.section1ColumnContentInner {
    max-width: 1280px;
    margin-inline: auto;
    width: 100%;
    gap: var(--spacing-6);
    display: flex;
}

.section1ColumnPageRenderer {
    width: 100%;
    gap: var(--spacing-8);
}