.polygonSidebarIhmView {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-block-start: calc( var(--header-height) + 46px);
}

.fancyTabs {
    padding-inline: var(--spacing-8);
    padding-block: var(--spacing-4);

    button[role*="tab"] {
        font-size: var(--text-xs);
    text-transform: uppercase;
    padding-inline: var(--spacing-2-5);
    }
}

.polygonSidebarIhmViewContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.siteTree {
    flex: 1;
    overflow: hidden;
}

