.polygonSidebarIhmView {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-block-start: var(--header-height);
}

.polygonSidebarIhmViewContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-8);
    gap: var(--spacing-4);
    padding-top: calc( 46px + var(--spacing-4 ));

    h2 {
        font-size: var(--text-2xl);
        font-weight: 700;
        color: var(--text-primary);
        margin: 0;
    }

    p {
        font-size: var(--text-base);
        color: var(--text-2);
        margin: 0;
    }
}

