@font-face {
    font-family: 'BNPP Type';
    src: url('../assets/fonts/BNPPType/BNPPType-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'BNPP Type';
    src: url('../assets/fonts/BNPPType/BNPPType-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'BNPP Type';
    src: url('../assets/fonts/BNPPType/BNPPType-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'BNPP Type';
    src: url('../assets/fonts/BNPPType/BNPPType-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'BNPP Type';
    src: url('../assets/fonts/BNPPType/BNPPType-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

