@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSans.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansLightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'BNPP Sans';
    src: url('../../assets/fonts/BNPPSans/BNPPSansExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
}