@font-face {
    font-family: 'Merriweather Sans';
    src: url('../assets/fonts/MerriweatherSans/MerriweatherSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('../assets/fonts/MerriweatherSans/MerriweatherSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}