@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: italic;
}