// Ubuntu - Regular
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

// Ubuntu - Italic
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

// Ubuntu - Light
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

// Ubuntu - Light Italic
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

// Ubuntu - Medium
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

// Ubuntu - Medium Italic
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

// Ubuntu - Bold
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

// Ubuntu - Bold Italic
@font-face {
    font-family: 'Ubuntu';
    src: url('../../assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}
