.polygonSidebarSlider {
    --offset-index: 0;

    display: flex;
    height: 100%;
    overflow: hidden;
    flex: 1;
    margin-top: calc(var(--header-height, 60px) * -1);
}

.polygonSidebarSliderView {
    position: relative;
    padding-top: var(--header-height, 60px);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    transform: translateX(calc(-1 * var(--offset-index) * 100%));
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

