.colorBadge {
    display: inline-block;
    align-items: center;
    padding-inline: var(--spacing-2);
    padding-block: var(--spacing-0-5);
    border-radius: var(--radius-full);
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    flex-shrink: 1;
    max-width: 100%;
}