@import '../../../../style/mixins/container';


.section2ColumnsContent {
    @include container();
    margin-inline: auto;
}

.section2ColumnsContentInner {
    max-width: 1280px;
    margin-inline: auto;
    width: 100%;
    // gap: var(--spacing-16);
    display: flex;
}

.section2ColumnsPageRenderer {
    height: auto;
}