.contextContainer {

    display: flex;
    width: 100%;
    background-color: var(--surface);
    // box-shadow: var(--box-shadow-medium);
    // border-left: 1px solid var(--border-color-standard);

    &Disabled {

        pointer-events: none;
        opacity: 0.6;
    }

    &Empty {
        margin: auto;
    }
}