.themeOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: var(--spacing-3);
    margin-top: var(--spacing-2);
}

.themeOptionItem {
    margin: 0 !important;
    position: relative;

    >button {
        position: absolute;
        opacity: 0;
    }

    >label {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 1px solid var(--border-color-standard);
        color: var(--text);
        font-weight: 400;
    }
}

.themeOption {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    padding: var(--spacing-3) var(--spacing-4);
    border-radius: var(--radius-md);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    width: 100%;
    color: white;
    color: var(--text-primary);
    border: 1px solid;

    &:hover {
        border-color: var(--border-primary);
    }
}

// Style quand le radio est sélectionné
.themeOptionItem [data-state="checked"]+label {

    border-color: var(--border-primary);
    background-color: var(--surface-primary-soft-2);
    color: var(--text-primary-2);
}

.themeOptionIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: var(--text-primary-1);
    background-color: var(--surface-primary-soft);
    border-radius: 100vh;
}